#root {
  display: flex;

}

.inputs {
  width: 25vw;
}

.inputs > form > section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.output {
  width: 75vw;
}

.personalInfo {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.education, .workHistory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7vw;
}

.qual, .workHistory > div {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.workHistory > div {
  flex-direction: column;
}

.workHistory > div > p:first-of-type{
  margin-bottom: 0px;
} 

.desc {
  font-weight: normal;
}

.qual > span {
  font-weight: normal;
}

